{% extends 'base.html' %}



{% block chart %}
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Charts</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Library
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  {% endblock chart %}

{% block scroll-sidebar %}
        
<div class="scroll-sidebar">
  <!-- Sidebar navigation-->
  {% include '../includes/nav.html' %}
  <!-- End Sidebar navigation -->
</div>
{% endblock scroll-sidebar %}



{% block container-fluid %}
        
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <!-- Chart-1 -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  {% comment %} <div id="real-time" style="height: 400px"></div> {% endcomment %}
                  {% if pk %}
                    {% comment %} <h5 class="card-title">Real Time Chart</h5> {% endcomment %}
                    {% if not trades %}
                      <h1 class="card-title">No user for this chart</h1>
                    {% else %}
                      <h1> {% with trades|first as trade %}{{trade.trader.username|capfirst}}{% endwith %} Real Time Chart </h1>
                      <canvas id="myChart"></canvas>
                    {% endif %}
                  {% else %}
                  <h1 class="card-title">Select a user to view the user chart</h1>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- ENd chart-1 -->
          <!-- Chart-2 -->
          
{% endblock container-fluid %}

{% block script %}
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [{% for trade in trades %} '{{ trade.timestamp }}', {% endfor %}],
      datasets: [{
        label: 'profit and loss on the y-axis and timestamp on the x-axis (data point at 1 minute intervals)',
        data: [{% for trade in trades %} '{{ trade.profit_loss }}', {% endfor %}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock script %}